Конспекты/DSPR_Блок_0_Модуль_1._Основы_Python.pdf
Конспекты/DSPR_Блок_1_Модуль_2._Погружение_в_типы_данных (1).pdf
Конспекты/DSPR_Блок_1_Модуль_2._Погружение_в_типы_данных.pdf
Конспекты/DSPR_Блок_1_Модуль_3._Условные_операторы.pdf
Конспекты/DSPR_Блок_1_Модуль_4._Циклы__2_.pdf
